{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
      ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@validation": "./src/validator",
        "@router": "./src/routes",
        "@postgres": "./src/lib/db",
        "@controller": "./src/controllers",
        "@migration": "./src/lib/migration",
        "@models": "./src/lib/models",
        "@filter": "./src/lib/syoss/filter"
      }
    }]
  ]
}
