{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
      ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@validation": "./src/validator",
        "@router": "./src/routes",
        "@controller": "./src/controllers",
        "@model": "./src/models/index",
        "@enum": "./src/constants/ProductEnum"
      }
    }]
  ]
}
