version: "3"

services:
  store-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - "./src:/usr/src/app/src"
    links:
      - "postgres:postgres"

  postgres:
    image: postgres:latest
    container_name: store_postgres
    ports:
      - "5432:5432"
    volumes:
      - "./data/postgres:/var/lib/postgres/data"
    env_file: .env